<a href="https://colab.research.google.com/github/webercg/NLP---Daily-News-for-Stock-Market-Prediction/blob/main/Hist_Pre%C3%A7o_Ativos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install yfinance

In [4]:
import yfinance as yf
msft = yf.Ticker("PETR4.SA")
dataa = msft.history(period='12mo')
dataa

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-06-07,19.640486,19.674943,19.302808,19.495768,74548900,0.0,0
2021-06-08,19.413071,19.847229,19.268351,19.750750,88398600,0.0,0
2021-06-09,19.792098,20.040188,19.654270,19.750750,60724200,0.0,0
2021-06-10,19.867903,20.005731,19.688726,19.764532,35871000,0.0,0
2021-06-11,19.847228,19.881686,19.475093,19.688726,54894400,0.0,0
...,...,...,...,...,...,...,...
2022-05-31,30.410000,30.620001,29.809999,30.059999,83598000,0.0,0
2022-06-01,29.900000,30.330000,29.850000,30.020000,46353200,0.0,0
2022-06-02,29.969999,30.049999,29.549999,29.760000,50738300,0.0,0
2022-06-03,29.709999,30.440001,29.530001,30.280001,60200400,0.0,0
2022-06-06,30.500000,30.530001,29.910000,30.120001,32335600,0.0,0