<a href="https://colab.research.google.com/github/webercg/NLP---Daily-News-for-Stock-Market-Prediction/blob/main/Hist_Pre%C3%A7o_Ativosv2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
pip install yfinance

Requirement already satisfied: yfinance in c:\anaconda3\lib\site-packages (0.1.72)
Requirement already satisfied: requests>=2.26 in c:\anaconda3\lib\site-packages (from yfinance) (2.27.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in c:\anaconda3\lib\site-packages (from yfinance) (4.5.2)
Requirement already satisfied: numpy>=1.15 in c:\anaconda3\lib\site-packages (from yfinance) (1.22.4)
Requirement already satisfied: pandas>=0.24.0 in c:\anaconda3\lib\site-packages (from yfinance) (1.0.5)
Requirement already satisfied: pytz>=2017.2 in c:\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2022.5.18.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: six>=1.5 in c:\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.24.0->yfinance) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -umpy (c:\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\anaconda3\lib\site-packages)
WARNING: There was an error checking the latest version of pip.

In [1]:
import pandas as pd
import yfinance as yf

In [3]:
data = yf.download("PETR4.SA", start="2021-12-30", end="2022-07-01")

[*********************100%***********************]  1 of 1 completed

In [4]:
data.drop(['Open', 'High','Low','Close'], axis=1, inplace = True)

In [5]:
data['Var%'] = data['Adj Close'].pct_change()
data = data[data['Var%'].notna()]
data

            Adj Close    Volume      Var%
Date
2022-01-03  23.861391  52704700  0.022496
2022-01-04  23.951620  51739200  0.003781
2022-01-05  23.024723  78459800 -0.038699
2022-01-06  23.008320  61163100 -0.000712
2022-01-07  23.114954  47507600  0.004635
...               ...       ...       ...
2022-06-24  26.290001  53413400 -0.007550
2022-06-27  27.980000  90417700  0.064283
2022-06-28  28.330000  51388000  0.012509
2022-06-29  28.080000  52048800 -0.008825
2022-06-30  27.930000  49910100 -0.005342

[124 rows x 3 columns]

In [6]:
data = data.reset_index()
data

          Date  Adj Close    Volume      Var%
0   2022-01-03  23.861391  52704700  0.022496
1   2022-01-04  23.951620  51739200  0.003781
2   2022-01-05  23.024723  78459800 -0.038699
3   2022-01-06  23.008320  61163100 -0.000712
4   2022-01-07  23.114954  47507600  0.004635
..         ...        ...       ...       ...
119 2022-06-24  26.290001  53413400 -0.007550
120 2022-06-27  27.980000  90417700  0.064283
121 2022-06-28  28.330000  51388000  0.012509
122 2022-06-29  28.080000  52048800 -0.008825
123 2022-06-30  27.930000  49910100 -0.005342

[124 rows x 4 columns]

In [7]:
data.to_csv('Hist_Preço_Petr_2022_.csv',sep = '|',header=True,encoding='utf-8-sig', index=False)